/*----------------------------- Loader 5 -----------------------------*/
.loader5{
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
}
.loader5Inside{
  height: 100px; /* Increase/decrese the size of the spinner */
  width: 100px;
  border-style: solid;
  border-top-color: red;
  border-right-color: blue;
  border-bottom-color: green;
  border-left-color: yellow;
  border-width: 10px; /* Increase/decrese the width of the spinner */
  border-radius: 50%;
  animation-name: loaderFive;
  animation-duration: 1s; /* Increase/decrese the speed of the spinner */
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes loaderFive {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------------------------------- Loader 5 Ends --------------------------*/